.heronavitem {
    background-image:url('BGImg.png') ;
    background-size: cover; /* Adjust as needed */
    background-position: center; /* Adjust as needed */
    background-repeat: no-repeat;
    width: 100%;
    height: 615px;

}