@media screen and (min-width: 1024px) and (max-width:1440px) {
    

    .heroitem  {
    
        /* background-image:url('BGImg.png') ;
        background-size: cover; 
        background-position: center; 
        background-repeat: no-repeat; */
        width: 100%;
        height: 615px;
        align-items: center;
        justify-content: center;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.34) 21.78%, #000 100%), url('BGImg.png'), lightgray 0px -57.895px / 100% 146.282% no-repeat;
        overflow: hidden;
        
        }

    
    /* .navee {
        position: absolute;
        left: 50%;
        transform: translate(-50%)
    } */
    .heron {
        display:flex;
        width: 931px;
        Height: 312px;
        Gap:2px;
        padding-top: 32px;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        left: 50%;
        transform: translate(-50%) ;
        position: relative;
        top: 170px;
        /* text-align: left; */
    }


    .strenj h1 {
        font-family:sans-serif;
        color: white;
        font-size: 64px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        margin: 0px;
       
        }
    /* .concel {
        margin: 0px;
        padding: 0px;
    } */
    
    .concel h1 {
        font-family:sans-serif;
        color: white;
        font-size: 64px;
        font-style: normal;
        font-weight: 600;
        line-height: 140%;
        margin: 0px;
        width: 841px;
    }

    .strenj {
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap:18px;
    }    
    .strenj p {
        margin: 0px;
    }
    .unleash {
        display: flex;
        flex-direction: row;
        gap: 4px;
    }

    .fitp {
        display: flex;
        flex-direction: column;
        background-color: #FF5B23;
        padding: 12px;
        width: 243px;;
        height:72px;
        gap:16px;
        justify-content: center;
        
    }

    .box1 {
        display: flex;
        width: 4px;
        align-self: stretch;
        gap:4px;
        background-color: #FF5B23;
    }
    .box2 {
        display: flex;
        width: 10px;
        /* align-self: stretch; */
        gap:4px;
        background-color: #FF5B23;
    }
    .box3 {
        display: flex;
        width: 17px;
        align-self: stretch;
        gap:4px;
        background-color: #FF5B23;
    }
    .box4 {
        display: flex;
        width: 29px;
        align-self: stretch;
        gap:4px;
        background-color: #FF5B23;
    }
    .box5 {
        display: flex;
        width: 48px;
        align-self: stretch;
        gap:4px;
        background-color: #FF5B23;
    }

    .box6 {
        display: flex;
        width: 4px;
        align-self: stretch;
        gap:20px;
        background-color: #FF5B23;
    }



    .fitp p {
        margin: 0px;
    }
    .fitp h6 {
        margin: 0px;
    }

    .unleashedd p {
        display: flex;
        color: #FBF8F3;
        font-size: 64px;
        font-style: normal;
        font-weight: 700;
        line-height: 140%;
        margin: 0px;
        width: 396px;
        
    }
}


@media screen and (min-width: 1441px) {
    .heroitem  {
    
        background-image:url('BGImg.png') ;
        background-size: cover; /* Adjust as needed */
        background-position: center; /* Adjust as needed */
        background-repeat: no-repeat;
        width: 1600px;
        height: 615px;
        }

        .strength h1 {
            font-family:sans-serif;
            color: white;
            font-size: 64px;
            font-style: normal;
            font-weight: 400;
            
    
            }

        .strenj {
            display:flex;
            justify-content: center;
            align-items: center;
        }

}
